body {
	font-family: "HelveticaNeue", helvetica, arial, sans-serif;
}

/*
header.navbar nav.navbar {
	background: #1a6a7a;
}
*/

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	background-color: #1a6a7a;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #165865;
}