body {
	font-family: "HelveticaNeue", helvetica, arial, sans-serif;
}


.navbar-default {
    background-color: #1a6a7a;
    border-color: #165865;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	background-color: #1a6a7a;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #165865;
}